*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: rgb(58, 57, 57);
}

@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Donovan.otf') format('opentype'),
    url('../fonts/donovan.ttf') format('truetype'),
    url('../fonts/donovan.eot') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}
  header > .logo{
    margin: 0 5px 0 5px;
  }

#content{
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'MyFont';
  letter-spacing: 2px;
  margin: 10px 0 0 0;
  padding: 10px;
  text-align: center;
}

img{
  width: 200px;
}
  img.logo{
    margin: 0 5px 0 5px;
  }

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.title-container, .title-container > h1{
  background-color: red;
}

.menuPreview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
  .menuPreview > img{
    min-width: 200px;
    height: 125px;
    border: 3px solid red;
    flex: 1 20% 1;
    margin: 5px;
    border-radius: 10px;
  }

button{
  color: red;
  width: 100px;
  height: 50px;
  font-family: 'MyFont';
  letter-spacing: 3px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid red;
  cursor: pointer;
}
  .active, button:hover{
    background-color: white;
    font-size: larger;
    box-shadow: 2px 5px rgba(255, 0, 0, 0.603);
  }

.menuContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 10px 10px;
}
  .menuItemContainer{
    display: flex;
    max-width: min-content;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid red;
    padding: 20px;
    width: fit-content
  }
    .menuItemImg{
      width: 400px;
      border: 3px solid red;
      border-radius: 10px;
      margin: 10px;
    }
    .descriptionContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      width: 300px
    }
    .descriptionContainer > h2{
      background-color: red;
      padding: 20px;
      border-radius: 10px;
    }
    .descriptionContainer > p {
      padding: 10px;
    }

.aboutInfoContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 100px 0 100px;
  /* padding: 10px; */
  
}
  .aboutInfoSubtitle{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
  }
  .contactInfo{
    display: flex;
    flex-direction: column;
  }

.card-container{
  display: flex;
  flex-direction: row;
}  
.bio-card{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid red;
  margin: 0 0 20px 0;
  padding: 20px;
  font-size: smaller;
  justify-content: center;
}
  .bio-card > img{
    border: 3px solid red;
    border-radius: 10px;
    width: 300px;
    height: 300px;
  }
  .bioInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 20px; */
    /* width: 600px */
  }
  .bioInfoContainer > * {
    padding: 5px;
  }
  .bio{
    width: 300px;
    text-align: justify;
    text-justify:auto;
  }

@media only screen and (max-width: 1080px) {
  .aboutInfoContainer{
    flex-direction: column;
    margin: 0;
    flex: 2 1 100%;
    justify-content: center;
  }
  .aboutInfoSubtitle{
    width: 100%;
    justify-content: center;
  }
  .card-container{
    justify-content: center;
  }  
}

@media only screen and (max-width: 775px) {
  nav{
    flex-direction: column;
  }

}

@media only screen and (max-width: 660px) {
  
  .card-container{
    max-width: fit-content;
  }
  .bio-card{
    justify-content: center;
  }
  .bio-card> img{
    width: 200px;
    height: 200px;
  }
  .bioInfoContainer{
    width: 200px;
    justify-content: center;
  }
  .bio{
    margin-top: 50px;
    display: none;
  }
}


@media only screen and (max-width: 555px) {
  nav{
    flex-direction: column;
  }
  body > header > img:nth-child(3){
    display: none;
  }
  
  .menuItemImg{
    width: 200px;
    border: 3px solid red;
    border-radius: 10px;
    height: 125px;
  }

  .descriptionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: fit-content;
  }
}